<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringdocOpenapiIssue2207Application" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="temurin-1.8" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="springdoc-openapi-issue-2207.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springdocopenapiissue2207.SpringdocOpenapiIssue2207Application" />
    <option name="VM_PARAMETERS" value="-Dfile.encoding=IBM1047" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>